{% load embed_video_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Videos</title>
</head>
<body>

<h1>videos</h1>

{#tiny (420x315)#}
{#small (480x360)#}
{#medium (640x480)#}
{#large (960x720)#}
{#huge (1280x960)#}

<div>
    <h1>test object.all</h1>
    {% for item in videos %}
        {% video item.url 'small' %}
    {% endfor %}

</div>

<div>
    <h1>test single video</h1>
    {% video video2.url 'medium' %}
    {% video video1.url 'medium' %}
</div>

</body>
</html>